body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(80, 165, 144, 0.38) 100%);
  min-height: 100vh;
  }
  
.page {
  width: 1008px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
  
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 200px;
}
  
ul li a {
  opacity: 0.5;
  color: #1f1534;
  text-decoration: none;  
  display: flex;
  justify-content: space-between;
}
  
ul li a:hover {
  font-weight: bold;
  opacity: 1;
}
  
h1, ul {
  font-family: "Mulish", sans-serif;
}
  
main {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 56px;
  width: 490px;
  color: #1F1534;
}
  
h1 span {
  color: #89c5cc;
  font-weight: bold;
}
  
section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
  margin: 50px 0;
  width: 400px;
}
  
button {
  color: white;
  font-family: "Open Sans", sans-serif;
  background: #69B99D;
  border: 0;
  padding: 14px 32px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  flex-direction: row;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
  
button:hover {
  background: #05ee9c;
}
  
footer {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 82px;
}
  
footer a {
  font-weight: bold;
  text-decoration: none;
  color: #1F1534;
}
  
#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
  